<div class="generic-container">
    <div class="panel panel-default">
        <!-- Default panel contents -->

        <div class="panel-heading">
            <span class="lead">Transaction Panel</span>
        </div>

        <div class="panel-body">
            <div class="formcontainer">
                <div class="alert alert-success" role="alert" ng-if="ctrl.successMessage">{{ctrl.successMessage}}</div>
                <div class="alert alert-danger" role="alert" ng-if="ctrl.errorMessage">{{ctrl.errorMessage}}</div>
                <form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
                    <input type="hidden" ng-model="ctrl.transaction.id" />
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label" for="description">Description</label>
                            <div class="col-md-7">
                                <input type="text" ng-model="ctrl.transaction.description" id="description" class="transactionname form-control input-sm" placeholder="Enter transaction description" required/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label" for="amount">Amount</label>
                            <div class="col-md-7">
                                <input type="text" ng-model="ctrl.transaction.amount" id="amount" class="form-control input-sm" placeholder="Enter the transaction amount." required ng-pattern="ctrl.onlyNumbers"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label" for="date">Effective Date</label>
                            <div class="col-md-7">
                                <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text" required/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-actions floatRight">
                            <input type="submit"  value="Submit" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid || myForm.$pristine">
                            <button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><span class="lead">Transactions List</span></div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>IDENTIFIER</th>
                        <th>DESCRIPTION</th>
                        <th>COUNTRY</th>
                        <th>TRANSACTION AMOUNT</th>
                        <th>DATE</th>
                        <th width="20"></th>
                        <th width="180"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="u in ctrl.transactions">
                        <td>{{u.id}}</td>
                        <td>{{u.description}}</td>
                        <td>{{u.country}}</td>
                        <td>{{u.amount}}</td>
                        <td>{{u.transactionDate}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>