<div class="generic-container">
    <div class="panel panel-default">
        <!-- Default panel contents -->

        <div class="panel-heading">
            <span class="lead">Transaction Order</span>
        </div>

        <div class="panel-body">
            <div class="formcontainer">
                <div class="alert alert-success" role="alert" ng-if="ctrl.successMessage">{{ctrl.successMessage}}</div>
                <div class="alert alert-danger" role="alert" ng-if="ctrl.errorMessage">{{ctrl.errorMessage}}</div>
                <form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
                    <input type="hidden" ng-model="ctrl.transaction.id" />
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label" for="description">Description</label>
                            <div class="col-md-10">
                                <input type="text" ng-model="ctrl.transaction.description" id="description" class="transactionname form-control input-sm" placeholder="Enter transaction description" required/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label" for="amount">Amount</label>
                            <div class="col-md-10">
                                <input type="text" ng-model="ctrl.transaction.amount" id="amount" class="form-control input-sm" placeholder="Enter the transaction amount." required ng-pattern="ctrl.onlyNumbers"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label" for="date">Effective Date</label>
                            <div class="col-md-10">
                                <input class="form-control" ng-model="ctrl.transaction.date" id="date" name="date" placeholder="YYYY-MM-DD" type="text" required ng-pattern="ctrl.onlyDate"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label" for="country">Country</label>
                            <div class="col-md-10">
                                <input type="text" ng-model="ctrl.transaction.country" id="country" class="form-control input-sm" placeholder="United States" disabled/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-actions floatRight">
                            <input type="submit"  value="Submit" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid || myForm.$pristine">
                            <button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><span class="lead">Transaction List</span></div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>IDENTIFIER</th>
                        <th>DESCRIPTION</th>
                        <th>COUNTRY</th>
                        <th>CONVERTED AMOUNT</th>
                        <th>ORIGINAL AMOUNT</th>
                        <th>DATE</th>
                        <th width="180"></th>
                        <th width="20"><button type="button" ng-click="ctrl.reload()" class="btn btn-info btn-sm">Reload</button></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="u in ctrl.transactions">
                        <td>{{u.id}}</td>
                        <td>{{u.description}}</td>
                        <td>
                            <select ng-options="country for country in ctrl.countries track by country" ng-model="selectedItem" ng-init="selectedItem=u.country"
                                    ng-change="ctrl.convertTransactionAmount(u.id, selectedItem)" ></select>
                        </td>
                        <td>{{u.amount}}</td>
                        <td>{{u.originalAmount}}</td>
                        <td>{{u.transactionDate}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>